{% extends "base.html" %}
{% block content %}

<h2>Add a new cabin</h2>

<form action="/newcabin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>
            Cabin name
            <br>
            <input class="form-control" type="text" name="name" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Cabin address
            <br>
            <input class="form-control" type="text" name="address" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Municipality
            <br>
            <select class="form-control" name="municipality">
                {% for municipality in municipalities %}
                    <option value="{{ municipality.id }}">{{ municipality.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Price per day(€)
            <br>
            <input class="form-control" type="number" min="1" step="any" name="price" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Cabin description
            <br>
            <textarea class="form-control" name="description"></textarea>
        </label>
    </div>

    <div class="form-group">
        <label>
            Cabin keywords (ctrl+click to select multiple)
            <br>
            <select class="form-control" name="keywords" id="keywords" multiple="true">
                {% for kw in keywords %}
                    <option value="{{ kw.id }}">{{ kw.keyword }}</option>
                {% endfor %}
            </select>
        </label>
        <button class="btn btn-primary btn-sm" type="button" onclick="clearKeywords()">Clear selection</button>
    </div>

    <div class="form-group">
        Can't find your keyword?
        <br>
        <details id="keyword-details">
            <summary class="btn btn-primary btn-sm">
                Add a new keyword
            </summary>
            <div id="new-keyword-wrapper">
                <br>
                <label>
                    <p>New keyword</p>
                    <input class="form-control" type="text" id="new-keyword">
                </label>
                <button class="btn btn-primary btn-sm" type="button" onclick="addNewKeyword()">Add</button>
            </div>
        </details>
    </div>

    <div class="form-group">
        <label>
            Add images of your cabin (max filesize 2MB)
            <br>
            <input class="form-control-file" accept=".png,.jpg,.jpeg" type="file" name="images" multiple="true" onchange="updateDefaultImageSelector()">
        </label>
    </div>

    <div hidden="true" id="default-image-selector" class="form-group">
        <label>
            Default image
            <br>
            <select class="form-control" name="default_image"></select>
        </label>
    </div>

    <input class="btn btn-primary" type="submit" value="Add cabin">
</form>

    <script>
        const updateDefaultImageSelector = () => {
            const defaultImageSelector = document.getElementsByName("default_image")[0];
            const oldDefault = defaultImageSelector.value;

            const n = defaultImageSelector.options.length;
            for (let i = n - 1; i >= 0; i--) {
                defaultImageSelector.remove(i);
            }

            const fileList = document.getElementsByName("images")[0].files;
            for (const file of fileList) {
                const node = document.createElement("option");
                node.text = file.name;
                node.value = file.name;
                defaultImageSelector.options.add(node);

                if (file.name === oldDefault) {
                    defaultImageSelector.value = file.name;
                }
            }

            document.getElementById("default-image-selector").hidden =
                defaultImageSelector.options.length === 0;
        };

        const addNewKeyword = () => {
            const keyword = document.getElementById("new-keyword").value;

            fetch("/keywords", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ keyword: keyword }),
            }).then((res) => {
                return res.text();
            }).then((res) => {
                if (res === "-1") {
                    alert("Keyword already exists");
                    return;
                }

                const keywords = document.getElementsByName("keywords")[0];
                const node = document.createElement("option");
                node.text = keyword;
                node.value = res;
                keywords.options.add(node);
                document.getElementById("new-keyword").value = null;
                document.getElementById("keyword-details").open = undefined;
            });
        };

        const clearKeywords = () => {
            const keywordSelect = document.getElementById("keywords");
            keywordSelect.value = null;
        };
    </script>

{% endblock %}
