<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Cabin Browser</title>
    </head>
    <body>
        <h1>Cabin Browser</h1>
        <nav>
            <ul>
                <li><a href="/cabins">View cabins</a></li>
                {% if current_user.is_authenticated and current_user.role == "OWNER" %}
                    <li><a href="/newcabin">Add a cabin</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if current_user.is_authenticated %}
            <p>Logged in as {{ current_user.name }}
            <a href="/logout">Log out</a>
            {% if current_user.role == "OWNER" %}
                <br>
                <a href="/cabins?owner={{ current_user.id }}">My cabins</a>
            {% endif %}
        {% else %}
            <a href="/login">Log in</a>
            <br>
            Not an user? <a href=/register>Register now!</a>
        {% endif %}
        <hr>
        <h1 id="error-message">{{ error_message }}</h1>
        {% block content %}{% endblock %}
    </body>
</html>
