{% extends "base.html" %}
{% block content %}

<script>
    const deleteCabin = (cabinId, nReservations) => {
        if (nReservations > 0) {
            if (!confirm("The cabin has reservations and they will be deleted. Are you sure?")) {
                return;
            }
        } else {
            if (!confirm("Are you sure you want to delete the cabin?")) {
                return;
            }
        }

        fetch(
            `/cabins/${cabinId}`,
            { method: "DELETE" },
        ).then(() => {
            window.location = `/cabins${window.location.search}`;
        });
    };
</script>

<script>
    const NO_CHANGE = -1;
    const selectedKeywords = new Set();
    let selectedMunicipality = undefined;

    const filterCabins = (keyword, municipality) => {
        if (keyword !== NO_CHANGE) {
            selectedKeywords.has(keyword)
                ? selectedKeywords.delete(keyword)
                : selectedKeywords.add(keyword);
        }

        if (municipality !== NO_CHANGE) {
            selectedMunicipality = municipality;
        }

        const cabinList = document.getElementById("cabin-list");

        for (const cabin of cabinList.children) {
            const cabinMunicipality = cabin.getElementsByClassName("cabin-municipality")[0].textContent.trim();

            if (selectedMunicipality && cabinMunicipality !== selectedMunicipality) {
                cabin.hidden = true;
                continue;
            }

            const keywordList = cabin.getElementsByClassName("keywords")[0];

            if (selectedKeywords.size === 0) {
                cabin.hidden = false;
                continue;
            }

            if (!keywordList) {
                cabin.hidden = true;
                continue;
            }

            let matchedKeywords = 0;

            for (const kw of keywordList.children) {
                if (selectedKeywords.has(kw.textContent.trim())) {
                    matchedKeywords++;
                }
            }

            cabin.hidden = !(matchedKeywords === selectedKeywords.size);
        }
    };
</script>

<h2>Cabins</h2>
<div id="cabin-filters">
    <div>Filter the cabins by keywords</div>
    {% for kw in keywords %}
        <div class="form-check form-check-inline">
            <input id="{{kw}}" class="form-check-input" type="checkbox" onclick="filterCabins('{{ kw.keyword }}', NO_CHANGE);">
            <label class="form-check-label" for="{{kw}}">
                {{ kw.keyword }}
            </label>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-3">
            <select class="custom-select">
                <option onclick="filterCabins(NO_CHANGE, undefined)">
                    Any
                </option>
                {% for municipality in municipalities %}
                    <option onclick="filterCabins(NO_CHANGE, '{{ municipality.name }}')">
                        {{ municipality.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
</div>

<div id="cabin-list" class="card-deck">
    {% for cabin in cabins %}
            <div class="card">
                <a href="/static/{{ cabin.images[0] }}">
                    <div class="card-img-top" style="background-image: url(/static/{{ cabin.images[0] }})"></div>
                </a>

                <div class="card-body">
                    <h3 class="card-title">
                        <a href="/cabins/{{ cabin.id }}">{{ cabin.name }}</a>
                        <div class="stars">
                            {% if cabin.avg_rating %}
                                {% for i in range(cabin.avg_rating) %}
                                    ★
                                {% endfor %}
                            {% endif %}
                        </div>
                    </h3>

                    <div class="card-subtitle cabin-card-address">
                        {{ cabin.address }},
                        <span class="cabin-municipality">{{ cabin.municipality }}</span>
                    </div>

                    {% if cabin.keywords|length > 0 %}
                        <span class="keywords">
                            {% for kw in cabin.keywords %}
                                <span class="badge badge-primary">
                                    {{ kw.keyword }}
                                </span>
                            {% endfor %}
                        </span>

                        <br>
                        <br>
                    {% endif %}

                    <div class="card-text">
                        <p>{{ cabin.price }}€ / day</p>
                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <a href="/cabins/{{ cabin.id }}" class="btn btn-primary">
                        Details
                    </a>

                    {% if (
                        current_user.is_authenticated 
                        and cabin.owner_id == current_user.id
                        or current_user.role == "ADMIN"
                    ) %}
                        <button
                            type="button"
                            onclick="deleteCabin({{ cabin.id }}, {{ cabin.reservations|length }});"
                            class="btn btn-danger" >
                            Delete cabin
                        </button>
                    {% endif %}
                </div>

            </div>
    {% endfor %}
</div>

{% endblock %}
