{% extends "base.html" %}
{% block content %}

<script>
    const deleteCabin = (cabinId, nReservations) => {
        if (nReservations > 0) {
            if (!confirm("The cabin has reservations and they will be deleted. Are you sure?")) {
                return;
            }
        }

        fetch(
            `/cabins/${cabinId}`,
            { method: "DELETE" },
        ).then(() => {
            window.location = `/cabins${window.location.search}`;
        });
    };
</script>

<script>
    const selectedKeywords = new Set();

    const filterCabins = (keyword) => {
        if (selectedKeywords.has(keyword)) {
            selectedKeywords.delete(keyword);
        } else {
            selectedKeywords.add(keyword);
        }

        const cabinList = document.getElementById("cabin_list");

        for (const cabin of cabinList.children) {
            const keywordList = cabin.getElementsByClassName("keywords")[0];

            if (selectedKeywords.size === 0) {
                cabin.hidden = false;
                continue;
            }

            if (!keywordList) {
                cabin.hidden = true;
                continue;
            }

            let matchedKeywords = 0;

            for (const kw of keywordList.children) {
                console.log(`${kw.textContent.trim()} ???`)
                if (selectedKeywords.has(kw.textContent.trim())) {
                    matchedKeywords++;
                }
            }

            cabin.hidden = !(matchedKeywords === selectedKeywords.size);
        }
    };
</script>

<h2>Cabins</h2>
<div id="cabin-filters">
    <ul>
        {% for kw in keywords %}
            <li>
                <input type="checkbox" onclick="filterCabins('{{ kw.keyword }}');">
                    {{ kw.keyword }}
                </input>
            </li>
        {% endfor %}
    </ul>
</div>

<ul id="cabin_list">
    {% for cabin in cabins %}
        <li>
            <div class="cabin-card">
                <h3>
                    {{ cabin.name }}
                    <br/>
                    {{ cabin.address }}, {{ cabin.municipality }}
                </h3>
                <a href="/static/{{ cabin.images[0] }}">
                    <img src="/static/{{ cabin.images[0] }}" width=200px height=200px>
                </a>
                {% if cabin.description %}
                    <p>{{ cabin.description }}</p>
                {% endif %}
                {% if cabin.avg_rating %}
                    <p>Rating: {{ cabin.avg_rating }} / 5</p>
                {% else %}
                    <p>No ratings given</p>
                {% endif %}
                <p>Price: {{ cabin.price }}€ / day</p>
                {% if cabin.keywords|length > 0 %}
                    <ul class="keywords">
                        {% for kw in cabin.keywords %}
                            <li>
                                <p>{{ kw.keyword }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p><a href="/cabins/{{ cabin.id }}">Details</a></p>

                {% if cabin.owner_id == current_user.id %}
                    <button onclick="deleteCabin({{ cabin.id }}, {{ cabin.reservations|length }});">Delete cabin</button>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
