{% extends "base.html" %}
{% block content %}

<h2>Reserve {{ cabin.name }}</h2>
<p>Price: {{ cabin.price }} € per day.</p>
<form action="/reservations/{{ cabin.id }}" method="post">
    <div class="form-group">
        <label>
            Start date <br>
            <input class="form-control" id="start-date" type="date" name="start_date">
        </label>
    </div>
    <div class="form-group">
        <label>
            End date <br>
            <input class="form-control" id="end-date" type="date" name="end_date">
        </label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input class="btn btn-primary" type="submit" value="Reserve!">
</form>
<br>
<h3>Current reservations</h3>
{% if current_reservations|length > 0 %}
    <ul>
        {% for reservation in current_reservations %}
            <li>
                <p>{{ reservation.start }} - {{ reservation.end }}</p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

    <script>
        const form = document.getElementsByTagName("form")[0];
        form.onsubmit = (e) => {
            const price = {{ cabin.price }};
            const startPicker = document.getElementById("start-date");
            const endPicker = document.getElementById("end-date");

            if (!startPicker.value || !endPicker.value) {
                e.preventDefault();
                alert("Please pick a start and end date.");
                return;
            }

            const startDate = new Date(startPicker.value);
            const endDate = new Date(endPicker.value);

            const days = (endDate - startDate) / 86400000;
            const totalPrice = days * price;

            if (!confirm(`Reserve {{ cabin.name }} for ${days} day(s)? (${totalPrice} €)`)) {
                e.preventDefault();
            }
        };

        const today = new Date();
        const startPicker = document.getElementById("start-date");
        const endPicker = document.getElementById("end-date");

        startPicker.min = today.toISOString().split("T")[0];
        endPicker.min = today.toISOString().split("T")[0];

        const september = 8;
        const nextYear = new Date(new Date().setFullYear(today.getFullYear()+1, september, 1));
        startPicker.max = nextYear.toISOString().split("T")[0];
        endPicker.max = nextYear.toISOString().split("T")[0];

        startPicker.onchange = (e) => {
            const [year, month, day] = e.currentTarget.value.split("-");
            endPicker.min = new Date(
                Number(year),
                Number(month)-1,
                Number(day)+2,
            ).toISOString().split("T")[0];
        };
    </script>

{% endblock %}
