.navbar-dark {
    color: white;
}

.navbar-dark a {
    color: white;
    text-decoration: underline;
}

.navbar-dark a:hover,
.navbar-dark a:focus,
.navbar-dark a:active {
    color: rgb(0, 195, 255);
    text-decoration: none;
}

.form-group label {
    display: block;
}

.log {
    display: block;
    text-align: right;
}

.login-info {
    margin-top: 15px;
}

nav {
    flex: 1;
}

nav ul {
    margin: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.stars {
    color: #ae9300;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: -4px;
}

.review-stars.card-title {
    font-size: 1.5em;
    margin-bottom: 0;
}

.review-card {
    padding: 15px;
}

.review .card-footer {
    padding-left: 0;
    padding-bottom: 0;
}

.review {
    margin-bottom: 15px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-deck {
    gap: 15px;
}
.card-deck .card {
    flex: none !important;
    width: 300px;
    margin: 0;
}

.card-img-top {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 1em 0;
}

.carousel {
    width: 50%;
    height: 370px;
    overflow: hidden;
}

#cabin h3 {
    margin-top: 15px;
}

.review-content {
    white-space: pre-line;
}

.cabin-description {
    white-space: pre-line;
    overflow-wrap: break-word;
}

#cabin-top-info {
    overflow-wrap: break-word;
}

.cancel-reservation-btn {
    margin-left: 5px;
}
